body { /*Center alignment*/
  margin-top: 500px; /*Ident from above*/
  padding-left: 1150px; /*Ident from left*/
  font: 1em/1.4em sans-serif; /*Text style*/
}

a {
  text-decoration: none; /*Delete link's underline*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Внешний вид меню*/

.side {
  width: 200px;
  margin: 20px;
}

.menu a {
  background: #3d3d3d;
  color: #fff;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #666;
  transition: 0.5s all;
}

.menu a:hover {
  background: #666;
  padding: 10px 0 10px 20px;
}

/*Округление 1 группы и 1 подгруппы*/
.menu li:first-child a,
.menu li .menu__drop li:first-child a {
  border-radius: 3px 3px 0 0;
}

.menu li:last-child a,
.menu li .menu__drop li:last-child a {
  border-radius: 0 0 3px 3px;
  border-bottom: 0;
}

.menu li .menu__drop li a {
  border-radius: 0;
  border-bottom: 1px solid #666;
}

/*Animated menu panel*/

.menu__list {
  position: relative;
}

.menu__drop {
  position: absolute;
  width: 100%;
  left: 100%;
  top: -9999em; /*Выравниваем группы и подгруппы*/
  opacity: 0;
  border-left: 10px solid transparent;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.menu__list:hover .menu__drop {
  opacity: 1;
  top: 0;
}

/*Icons for float menu elements (triangles)*/

.menu__list::after {
  content: " ";
  position: absolute;
  border: 5px solid;
  border-color: transparent transparent transparent #eee;
  top: 1em;
  right: 0.7em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__list:hover::after {
  transform: scaleX(-1);
}
